body {
  background-color: rgb(116, 110, 110);
}

h1 {
  font-size: 30pt;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 1rem 15.5rem;
  width: 70em;
}

tr {
  margin: 8px;
}

td {
  margin: 0;
  padding: 0.5rem 0.25rem;
}

form {
  background-color: rgb(116, 110, 110);
  margin: 10vmin auto;
  width: 768px;
}

label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

button {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  color: rgb(248, 246, 246);
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in;
}

button:focus,
button:hover {
  background-color: rgba(218, 241, 4, 0.918);
  color: rgb(0, 0, 0);
  transition-delay: 0.2s;
}
.flex {
  display: flex;
  justify-content: space-between;
}
